<!-- Using UI Components from our library -->
<div style="font-weight: bold;"> Using UI Components from our library:</div>
<shared-ui-icon icon="fa-address-book"></shared-ui-icon>

<i class="fa fa fa-info" aria-hidden="true"></i>

<shared-ui-button (clicked)="myFunc()">Press Me</shared-ui-button>

<div *ngIf="buttonPressed">
    Button has been pressend
</div>

<hr>
<!-- Using a Component from library -->
<div style="font-weight: bold;"> Using Component from library</div>
<shared-products></shared-products>

<hr>
<!-- Using service and model from library to populate varaible and then use it -->
<div style="font-weight: bold;">Getting Product from service:</div>
<div>{{myProduct.name}}</div>
<div>{{myProduct.description}}</div>

<hr>
<!-- Using Asset from library -->
<div style="font-weight: bold;">Using asset from library:</div>
<img style="height: 300px;" src="assets/images/Raal LngRange JGOD.PNG" alt=""> <!-- UTo use this you have ti include assets from lib into assets property from web-app in angular.json -->

<hr>
<!-- Using Styles and themes from library -->
<div style="font-weight: bold;">Using Styles and themes from library:</div>

<div class="app-main-theme">
    <div>Hallo how are you</div>
    <div>This is awesome</div>
</div>

<!-- Using COLORS AND SASS functions -->
<div style="font-weight: bold;">Using SASS</div>

<div class="my-color">Here is using the SASS app-color function from scss</div>
<div class="app-color-secondary">Here is using generated CSS classes</div>

<div class="app-color-bg-primary" style="height: 30px;">

</div>

<div class="app-color-bg-primary-light" style="height: 30px;">

</div>

